@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

/* -----------------------------------
    01. General CSS
-------------------------------------*/
html,
body {
  font-size: 15px;
  color: #505050;
  font-family: 'Rubik', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 26px;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  color: #111111;
  margin: 0 0 26px;
  line-height: 1.2;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase !important;
}
.bold-text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
a {
  color: #21a7d0;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #21a7d0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
::selection {
  background: #21a7d0;
  text-shadow: none;
  color: #ffffff;
}
.gray-bg {
  background: #d6daec;
}
.rs-menu-toggle {
  color: #21a7d0;
  text-align: right;
}
button {
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
.gridFilter button {
  background: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  color: #505050;
  cursor: pointer;
}
.gridFilter button.active {
  color: #073982;
}
.gridFilter button + button {
  margin-left: 20px;
}
.gridFilter.style2 button {
  background: #f9f7f8;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #101010;
  padding: 10px 30px;
  outline: none;
  margin: 0 10px 20px;
}
.gridFilter.style2 button.active,
.gridFilter.style2 button:hover {
  background: #fff;
  color: #073982;
  box-shadow: 0 0 30px #eee;
}
/*-- Blog Button Css --*/
/* ------------------------------------
    02. Global Class CSS
---------------------------------------*/
.y-middle {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.y-bottom {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.readon {
  outline: none;
  padding: 12px 40px;
  border: 1px solid #21a7d0;
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #111111;
  background: #f3f8f9;
}
.readon.white-color {
  color: #ffffff !important;
  background: none !important;
  border: 1px solid #ffffff;
  padding: 16px 40px;
}
.readon.white-color:hover {
  background: #ffffff !important;
  color: #4e49a1 !important;
}
.readon.orange-btn {
  color: #ffffff;
  background: #073982;
  border-color: #073982;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  padding: 12px 35px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.readon.orange-btn.main-home {
  padding: 10px 20px 10px 20px !important;
}
.readon.orange-btn.main-home:hover {
  color: #ffffff;
  background: #062b61;
  border-color: #062b61;
}
.readon.orange-btn:hover {
  color: #ffffff;
  background: #062b61;
  border-color: #062b61;
}
.readon.orange-btn.transparent:hover {
  color: #101010;
  background: #ffffff;
  border-color: #ffffff;
}
.readon:hover {
  background: #21a7d0;
  color: #ffffff;
}
.readon2 {
  outline: none;
  border: none;
  padding: 12px 40px;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: #21a7d0;
  position: relative;
  overflow: hidden;
}
.readon2.transparent {
  background: transparent;
  color: #21a7d0;
  border: 1px solid #21a7d0;
}
.readon2.transparent:hover {
  color: #ffffff;
  background: #21a7d0;
}
.readon2.orange {
  background: #073982;
}
.readon2.orange:hover {
  background: #062b61 ;
}
.readon2:hover {
  background: #1e95ba;
  color: #ffffff;
}
.readon2.apply {
  padding: 10px 30px 10px 30px;
}
.readon2.apply:hover {
  color: unset;
}
/*Pagination*/
/*Video Icon*/
.media-icon {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.media-icon .popup-videos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: #21a7d0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
}
.media-icon .popup-videos:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  transition: all 0.3s ease;
  z-index: -1;
}
.media-icon .popup-videos i {
  margin-left: 5px;
}
.media-icon .popup-videos i:before {
  font-size: 30px;
  line-height: 70px;
}
.media-icon .popup-videos:hover:before {
  background: #21a7d0;
}
.media-icon.orange-color .popup-videos {
  color: #073982;
  background: #ffffff;
}
.media-icon.orange-color .popup-videos i:before {
  font-size: 30px;
  line-height: 70px;
}
.media-icon.orange-color .popup-videos:hover:before {
  background: #ffffff;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin: 0;
}
.relative {
  position: relative;
}
.white-color {
  color: #ffffff !important;
}
.rs-carousel.nav-style2 {
  position: relative;
}
.rs-carousel.nav-style2 .owl-nav {
  display: block;
  position: absolute;
  top: -80px;
  right: 0;
}
.rs-carousel.nav-style2 .owl-nav .owl-prev,
.rs-carousel.nav-style2 .owl-nav .owl-next {
  display: inline-block;
}
.rs-carousel.nav-style2 .owl-nav .owl-prev i,
.rs-carousel.nav-style2 .owl-nav .owl-next i {
  transition: all 0.3s ease;
}
.rs-carousel.nav-style2 .owl-nav .owl-prev i:before,
.rs-carousel.nav-style2 .owl-nav .owl-next i:before {
  font-family: Flaticon;
  font-size: 22px;
}
.rs-carousel.nav-style2 .owl-nav .owl-prev:hover i,
.rs-carousel.nav-style2 .owl-nav .owl-next:hover i {
  color: #21a7d0;
}
.rs-carousel.nav-style2 .owl-nav .owl-prev i:before {
  content: "\f134";
}
.rs-carousel.nav-style2 .owl-nav .owl-prev:after {
  content: "/";
  padding: 0 5px 0 5px;
  position: relative;
  top: -3px;
}
.rs-carousel.nav-style2 .owl-nav .owl-next i:before {
  content: "\f133";
}
.rs-carousel.orange-color .owl-nav .owl-prev:hover i,
.rs-carousel.orange-color .owl-nav .owl-next:hover i {
  color: #073982;
}
.rs-carousel .owl-dots {
  text-align: center;
  margin: 40px auto 0;
  line-height: 15px;
  display: block;
}
.rs-carousel .owl-dots .owl-dot {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
  padding: 3px 0;
  border-radius: 30px;
  border: 1px solid #21a7d0;
  background: transparent;
  opacity: 0.7;
  cursor: pointer;
}
.rs-carousel .owl-dots .owl-dot:hover {
  background: #21a7d0;
}
.rs-carousel .owl-dots .active {
  background: #21a7d0;
  opacity: 1;
}
.owl-carousel .owl-item img {
  width: auto;
}
.sec-title .sub-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.sec-title .sub-title.white {
  color: #ffffff;
}
.sec-title .sub-title.orange {
  color: #073982;
}
.sec-title3 .sub-title {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #073982;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sec-title3 .title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 800;
  color: #111111;
}
.sec-title3 .title.white-color {
  color: #ffffff;
}
.sec-title3 .desc {
  font-size: 16px;
  line-height: 26px;
  color: #363636;
}
.sec-title3 .desc.white-color {
  color: #ffffff;
}
/* -----------------------
    03. Header Section CSS
--------------------------*/
.full-width-header .rs-header {
  z-index: 99;
}
.full-width-header .rs-header .logo-part {
  position: relative;
  z-index: 9;
}
/* .full-width-header .rs-header .logo-part img {
  max-height: 40px;
} */
.full-width-header .rs-header .menu-area {
  /* transition: all 0.3s ease; */
  transition: none;
}
.full-width-header .rs-header .menu-area .logo-cat-wrap {
  display: flex;
  align-items: center;
  height: 120px;
  line-height: 120px;
}
.full-width-header .rs-header .menu-area .rs-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li {
  display: inline-block;
  margin-right: 50px;
  padding: 0;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  height: 120px;
  line-height: 120px;
  padding-right: 0;
  margin-right: -12px;
  color: #ffffff;
  z-index: 1;
  position: relative;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #21a7d0;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a {
  padding-right: 12px;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a:before {
  content: "+";
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  text-align: center;
  display: block;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all .5s ease;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li.menu-item-has-children a:hover:before {
  content: "-";
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li:last-child {
  margin-right: 0!important;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li:last-child i {
  margin: 0;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul li a:hover {
  color: #21a7d0 !important;
}
.full-width-header .rs-header .menu-area .nav-expander {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.full-width-header .rs-header .menu-area .nav-expander span {
  height: 2px;
  width: 30px;
  display: block;
  background: #ffffff;
  margin: 6px 0;
  transition: all 0.3s ease;
}
.full-width-header .rs-header .menu-area .nav-expander span.dot1 {
  margin-top: 0;
}
.full-width-header .rs-header .menu-area .nav-expander span.dot3 {
  margin-bottom: 0;
}
.full-width-header .rs-header .menu-area .nav-expander:hover span {
  background: #c8c8c8;
}
.full-width-header .rs-header .menu-area .nav-expander.style2 span {
  background: #111111;
}
.full-width-header .rs-header .menu-area .nav-expander.style2:hover span {
  background: #073982;
}
.full-width-header .rs-header .menu-area .expand-btn-inner {
  margin-right: 55px;
}
.full-width-header .rs-header .menu-area .expand-btn-inner li {
  display: inline-block;
  margin-right: 15px;
}
.full-width-header .rs-header .menu-area .expand-btn-inner li > a {
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.full-width-header .rs-header .menu-area .expand-btn-inner li > a i:before {
  font-size: 15px;
  font-weight: 600;
}
.full-width-header .rs-header .menu-area .expand-btn-inner li > a:hover {
  color: #ffffff;
}
.full-width-header .rs-header .menu-area .expand-btn-inner li:last-child {
  margin-right: 0 !important;
}
.full-width-header .rs-header .right_menu_togle {
  background: #ffffff;
  padding: 30px 50px;
  width: 500px;
  right: -500px;
  z-index: 999999;
  text-align: center;
  transition: all 0.3s ease;
}
.full-width-header .rs-header .right_menu_togle .close-btn {
  overflow: visible;
  padding: 0;
}
.full-width-header .rs-header .right_menu_togle .close-btn .line {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.full-width-header .rs-header .right_menu_togle .close-btn .line span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 1px !important;
  height: 20px !important;
  background: #ffffff;
  border: none !important;
  transition: all 0.3s ease;
}
.full-width-header .rs-header .right_menu_togle .close-btn .line span.line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.full-width-header .rs-header .right_menu_togle .close-btn #nav-close {
  position: relative;
  float: unset;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: unset;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #21a7d0;
}
.full-width-header .rs-header .right_menu_togle .close-btn #nav-close:hover {
  transform: rotate(180deg);
}
.full-width-header .rs-header .right_menu_togle .canvas-logo {
  padding-left: 0;
  padding-bottom: 30px;
  margin-top: 15px;
}
/* .full-width-header .rs-header .right_menu_togle .canvas-logo img {
  max-height: 35px;
} */
.full-width-header .rs-header .right_menu_togle .map-img {
  margin-top: 25px;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact {
  padding: 50px 0 0;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact .social li {
  display: inline-block;
  padding-right: 20px;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact .social li a {
  color: #111111;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact .social li a i {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact .social li a:hover {
  color: #21a7d0;
}
.full-width-header .rs-header .right_menu_togle .canvas-contact .social li:last-child {
  padding: 0;
}
.full-width-header.home8-style4 {
  width: 100%;
  z-index: 999;
}
.full-width-header.home8-style4 .rs-header .menu-area {
  background: #ffffff !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .logo-part {
  position: relative;
  z-index: 9;
}
.full-width-header.home8-style4 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #111111 !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:hover {
  color: #c8c8c8 !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a:last-child {
  margin-right: none !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .expand-btn-inner li > a {
  color: #111111 !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .expand-btn-inner li > a:hover {
  color: #073982 !important;
}
.full-width-header.home8-style4 .rs-header .menu-area .expand-btn-inner .nav-expander {
  color: #111111;
}
.full-width-header.home8-style4 .rs-header .right_menu_togle .close-btn #nav-close {
  background: #073982;
}
.full-width-header.home8-style4 .rs-header .right_menu_togle .canvas-contact .social li a:hover {
  color: #073982;
}
.full-width-header.home8-style4.main-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.full-width-header.home8-style4.main-home .menu-area {
  background: #073982 !important;
}
.full-width-header.home8-style4.main-home .menu-area .logo-part .sticky-logo {
  display: none;
}
.full-width-header.home8-style4.main-home .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li {
  margin-right: 45px;
}
.full-width-header.home8-style4.main-home .menu-area .rs-menu-area .main-menu .rs-menu ul.nav-menu li a {
  color: #ffffff !important;
}
.full-width-header.home8-style4.main-home .menu-area .rs-menu-area .main-menu .rs-menu-toggle {
  color: #ffffff !important;
}
.full-width-header.home8-style4.main-home .expand-btn-inner li a i:before {
  color: #ffffff !important;
}
.full-width-header.home8-style4.main-home .expand-btn-inner li a:hover i:before {
  color: #073982 !important;
}
.full-width-header.home8-style4.main-home .expand-btn-inner .nav-expander {
  color: #ffffff !important;
}
.full-width-header.home8-style4.main-home .expand-btn-inner .nav-expander:hover {
  color: #073982 !important;
}
.full-width-header.home8-style4.main-home .right_menu_togle .close-btn #nav-close {
  background: #073982;
}
.full-width-header.home8-style4.main-home .right_menu_togle .canvas-contact .social li a:hover {
  color: #073982;
}
/*------------------------------------
    04. Sticky Menu CSS
--------------------------------------*/
.menu-sticky {
  background: #fff;
  margin: 0;
  z-index: 999;
  width: 100%;
  top: 0;
  position: relative;
}
@keyframes sticky-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ------------------------------------
    05. Banner Section CSS
---------------------------------------*/
/* ------------------------------------
    06. Slider Section CSS
---------------------------------------*/
.rs-slider.style1 {
  position: relative;
}
.rs-slider.style1 .slider-content {
  padding: 250px 0;
}
.rs-slider.style1 .slider-content .sl-sub-title {
  font-size: 48px;
  line-height: 58px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 24px;
}
.rs-slider.style1 .slider-content .sl-title {
  font-size: 90px;
  line-height: 100px;
  margin-bottom: 39px;
  margin-left: -5px;
}
.rs-slider.style1 .slider-content.slide1 {
  background: url(assets/images/slider/h2-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rs-slider.style1 .slider-content.slide2 {
  background: url(assets/images/slider/h2-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rs-slider.style1 .owl-nav .owl-next,
.rs-slider.style1 .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background: #21a7d0;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  transition-delay: 0.70s;
  opacity: 0;
  visibility: hidden;
}
.rs-slider.style1 .owl-nav .owl-next i:before,
.rs-slider.style1 .owl-nav .owl-prev i:before {
  content: "\f138";
  font-family: Flaticon;
}
.rs-slider.style1 .owl-nav .owl-next {
  right: 30px;
  left: unset;
}
.rs-slider.style1 .owl-nav .owl-next i:before {
  content: "\f137";
}
.rs-slider.style1:hover .owl-nav .owl-next,
.rs-slider.style1:hover .owl-nav .owl-prev {
  left: 50px;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.rs-slider.style1:hover .owl-nav .owl-next {
  right: 50px;
  left: unset;
}
.rs-slider.style2 .owl-nav .owl-next,
.rs-slider.style2 .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  transition-delay: 0.70s;
  opacity: 0;
  visibility: hidden;
}
.rs-slider.style2 .owl-nav .owl-next i:before,
.rs-slider.style2 .owl-nav .owl-prev i:before {
  content: "\f138";
  font-family: Flaticon;
}
.rs-slider.style2 .owl-nav .owl-next:hover,
.rs-slider.style2 .owl-nav .owl-prev:hover {
  background: #073982;
  color: #ffffff;
}
.rs-slider.style2 .owl-nav .owl-next {
  right: 30px;
  left: unset;
}
.rs-slider.style2 .owl-nav .owl-next i:before {
  content: "\f137";
}
.rs-slider.style2:hover .owl-nav .owl-next,
.rs-slider.style2:hover .owl-nav .owl-prev {
  left: 50px;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.rs-slider.style2:hover .owl-nav .owl-next {
  right: 50px;
  left: unset;
}
.rs-slider.style2 .owl-carousel .owl-stage-outer {
  padding: 0 0 80px;
  margin: 0 0 -80px;
}
.rs-slider.main-home {
  position: relative;
}
.rs-slider.main-home .slider-content {
  text-align: center;
}
.rs-slider.main-home .slider-content .content-part {
  padding: 250px 35px 400px;
  max-width: 900px;
  margin: 0 auto;
}
.rs-slider.main-home .slider-content .content-part .sl-sub-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.rs-slider.main-home .slider-content .content-part .sl-title {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 65px;
}
.rs-slider.main-home .slider-content.slide1 {
  background: url(../../assets/images/carousel/carousel1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rs-slider.main-home .slider-content.slide2 {
  background: url(../../assets/images/carousel/carousel2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rs-slider.main-home .owl-nav .owl-next,
.rs-slider.main-home .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background: #073982;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  transition-delay: 0.70s;
  opacity: 0;
  visibility: hidden;
}
.rs-slider.main-home .owl-nav .owl-next i:before,
.rs-slider.main-home .owl-nav .owl-prev i:before {
  content: "\f138";
  font-family: Flaticon;
}
.rs-slider.main-home .owl-nav .owl-next:hover,
.rs-slider.main-home .owl-nav .owl-prev:hover {
  background: #062b61;
}
.rs-slider.main-home .owl-nav .owl-next {
  right: 30px;
  left: unset;
}
.rs-slider.main-home .owl-nav .owl-next i:before {
  content: "\f137";
}
.rs-slider.main-home:hover .owl-nav .owl-next,
.rs-slider.main-home:hover .owl-nav .owl-prev {
  left: 50px;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.rs-slider.main-home:hover .owl-nav .owl-next {
  right: 50px;
  left: unset;
}
/* ------------------------------------
    06. Breadcrumbs Section CSS
---------------------------------------*/
/* ------------------------------------
    07. About Section CSS
---------------------------------------*/
.rs-about.style1 .img-part {
  position: relative;
}
.rs-about.style8 .main-content {
  padding: 40px 33px;
  background: #f9f8f8;
  position: relative;
  border-radius: 6px;
}
.rs-about.style8 .main-content .img-part {
  position: absolute;
  left: -240px;
  top: -50px;
  z-index: 111;
}
.rs-about.style8 .main-content .img-part img {
  border-radius: 6px;
}
/* ------------------------------------
    08. Services Section CSS
---------------------------------------*/
/* ------------------------------------
    09. Subject Section CSS
---------------------------------------*/
/* ------------------------------------
    10. Categories Section CSS
---------------------------------------*/
.rs-categories.style1 .categories-item {
  border: 1px solid #dfe9eb;
  background: #ffffff;
  overflow: hidden;
  padding: 30px;
  display: block;
  color: #505050;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.rs-categories.style1 .categories-item .icon-part {
  float: left;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  background: #d6daec;
  text-align: center;
  transition: all 0.3s ease;
}
.rs-categories.style1 .categories-item .icon-part img {
  -webkit-transition: all 0.4s ease;
  transform: scale(1);
}
.rs-categories.style1 .categories-item .content-part .title {
  color: #111111;
  margin-bottom: 5px;
  font-size: 22px;
  transition: all 0.3s ease;
}
.rs-categories.style1 .categories-item:hover {
  background: #073982;
  color: #ffffff;
  border-color: #073982;
}
.rs-categories.style1 .categories-item:hover .icon-part {
  background: #ffffff;
}
.rs-categories.style1 .categories-item:hover .icon-part img {
  transform: scale(0.9);
}
.rs-categories.style1 .categories-item:hover .content-part .title {
  color: #ffffff;
}
.rs-categories.style2 .owl-stage-outer {
  padding: 20px;
  margin: -20px;
}
.rs-categories.style2 .owl-nav .owl-next,
.rs-categories.style2 .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  border: 1px solid #101010;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #101010;
  background: 0 0;
  transition: .4s;
  margin: 0 auto;
  text-align: center;
}
.rs-categories.style2 .owl-nav .owl-next i,
.rs-categories.style2 .owl-nav .owl-prev i {
  margin-top: 13px;
}
.rs-categories.style2 .owl-nav .owl-next i:before,
.rs-categories.style2 .owl-nav .owl-prev i:before {
  content: "\f133";
  font-family: Flaticon;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.rs-categories.style2 .owl-nav .owl-next:hover,
.rs-categories.style2 .owl-nav .owl-prev:hover {
  background: #073982;
  color: #ffffff;
  border: 1px solid #073982;
}
.rs-categories.style2 .owl-nav .owl-next {
  right: -75px;
  left: unset;
}
.rs-categories.style2 .owl-nav .owl-next i:before {
  content: "\f133";
  font-size: 18px;
  font-weight: 400;
}
.rs-categories.style2 .owl-nav .owl-prev {
  right: unset;
  left: -105px;
}
.rs-categories.style2 .owl-nav .owl-prev i:before {
  content: "\f134";
  font-size: 18px;
  font-weight: 400;
}
/* ------------------------------------
    11. Popular Courses Section CSS
---------------------------------------*/
/* -----------------------------------
    12. Course Single Section CSS
-------------------------------------*/
/*Intro Section*/
/* Course Overview */
/*Course Review*/
/* -----------------------------------
    13. Accordion Section CSS
-------------------------------------*/
/* ------------------------------------
    14. Why Choose US Section CSS
---------------------------------------*/
/* ------------------------------------
    15. Team Section CSS
---------------------------------------*/
.rs-team.style1 .team-item {
  position: relative;
  overflow: hidden;
}
.rs-team.style1 .team-item img {
  width: 100%;
}
.rs-team.style1 .team-item .content-part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  z-index: 1;
  transition: all 0.3s ease;
  opacity: 0;
}
.rs-team.style1 .team-item .content-part .name {
  margin-bottom: 8px;
  font-size: 22px;
}
.rs-team.style1 .team-item .content-part .name a {
  color: #ffffff;
}
.rs-team.style1 .team-item .content-part .name a:hover {
  color: #c8c8c8;
}
.rs-team.style1 .team-item .content-part .designation {
  color: #ffffff;
  margin-bottom: 16px;
  display: block;
}
.rs-team.style1 .team-item .content-part .social-links li {
  display: inline;
  margin-right: 35px;
}
.rs-team.style1 .team-item .content-part .social-links li a {
  display: inline-block;
  color: #ffffff;
}
.rs-team.style1 .team-item .content-part .social-links li a:hover {
  color: #c8c8c8 ;
}
.rs-team.style1 .team-item .content-part .social-links li:last-child {
  margin: 0;
}
.rs-team.style1 .team-item:after {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%) scale(0.1);
  background: #21a7d0;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.rs-team.style1 .team-item:hover .content-part {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.rs-team.style1 .team-item:hover:after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.9;
}
.rs-team.style1 .owl-item.center .team-item .content-part {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.rs-team.style1 .owl-item.center .team-item:after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.9;
}
.rs-team.style1.orange-color .team-item:after {
  background: #073982;
}
/* -----------------------------------
    16. Team Single Section CSS
-------------------------------------*/
/* ------------------------------------
    17. Testimonial Section CSS
---------------------------------------*/
.rs-testimonial.style1 .testi-item {
  background: #f3f8f9;
  max-width: 1000px;
  margin: 0 0 0 auto;
  position: relative;
}
.rs-testimonial.style1 .testi-item .img-part {
  position: absolute;
  left: -240px;
  top: 50px;
}
.rs-testimonial.style1 .testi-item .img-part img {
  border-radius: 5px;
  max-width: 450px;
}
.rs-testimonial.style1 .testi-item .content-part {
  padding: 98px 0 98px 320px;
}
.rs-testimonial.style1 .testi-item .content-part .desc {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #111111;
  font-size: 36px;
  line-height: 46px;
  position: relative;
}
.rs-testimonial.style1 .testi-item .content-part .desc:before,
.rs-testimonial.style1 .testi-item .content-part .desc:after {
  content: "\f151";
  font-family: Flaticon;
  font-size: 20px;
  color: #111111;
}
.rs-testimonial.style1 .testi-item .content-part .desc:before {
  transform: rotateY(180deg);
  position: absolute;
  left: -30px;
  top: -13px;
}
.rs-testimonial.style1 .testi-item .content-part .desc:after {
  position: relative;
  bottom: -7px;
  right: -8px;
}
.rs-testimonial.style1 .testi-item .content-part .name {
  margin: 0;
  color: #111111;
  font-weight: 500;
}
.rs-testimonial.style1 .rs-carousel.nav-style2 .owl-nav {
  bottom: 35px;
  right: 50px;
  top: unset;
}
.rs-testimonial.style8 .testi-item .author-desc {
  position: relative;
  text-align: center;
  padding: 35px 15px;
}
.rs-testimonial.style8 .testi-item .author-desc .desc {
  position: relative;
  background-color: #f9f8f8;
  padding: 25px 25px 55px;
}
.rs-testimonial.style8 .testi-item .author-desc .desc .quote {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.rs-testimonial.style8 .testi-item .author-desc .desc:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f9f8f8;
  z-index: -1;
  transform: rotate(10deg);
  border-radius: 10px;
}
.rs-testimonial.style8 .testi-item .author-desc .author-img {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.rs-testimonial.style8 .testi-item .author-desc .author-img img {
  margin: auto;
  max-width: 70px;
  border-radius: 50%;
}
.rs-testimonial.style8 .testi-item .author-part {
  text-align: center;
}
.rs-testimonial.style8 .testi-item .author-part .name {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  margin-top: 15px;
}
.rs-testimonial.style8 .owl-dots {
  text-align: center;
  margin-top: 47px;
}
.rs-testimonial.style8 .owl-dots .owl-dot {
  width: 25px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
  padding: 3px 0;
  border-radius: 30px;
  background: #062b61;
  border: none;
  transition: all 0.3s ease;
}
.rs-testimonial.style8 .owl-dots .owl-dot:hover,
.rs-testimonial.style8 .owl-dots .owl-dot.active {
  width: 40px;
  opacity: 1;
  background: #073982;
}
.rs-testimonial.style8 .owl-stage-outer {
  padding: 10px;
  margin: -10px;
}
.rs-testimonial.main-home {
  background: url(assets/images/bg/main-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rs-testimonial.main-home .testi-item .author-desc {
  padding: 70px 15px;
  background-color: #171F3296;
  border-radius: 5px 5px 5px 5px;
}
.rs-testimonial.main-home .testi-item .author-desc .desc {
  text-align: center;
  position: relative;
  color: #ffffff;
  padding: 80px 40px 30px;
  font-size: 23px;
  line-height: 33px;
  font-weight: 500;
  font-style: italic;
}
.rs-testimonial.main-home .testi-item .author-desc .desc .quote {
  width: 66px;
  top: -13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rs-testimonial.main-home .testi-item .author-desc .desc:before {
  content: none;
}
.rs-testimonial.main-home .testi-item .author-desc .author-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
}
.rs-testimonial.main-home .testi-item .author-desc .author-img img {
  width: auto;
  border-radius: 50%;
}
.rs-testimonial.main-home .testi-item .author-part {
  text-align: center;
  padding-top: 45px;
}
.rs-testimonial.main-home .testi-item .author-part .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  display: block;
}
.rs-testimonial.main-home .testi-item .author-part .designation {
  font-size: 16px;
  color: #ffffff;
}
.rs-testimonial.main-home .owl-dots {
  text-align: center;
  margin-top: 47px;
}
.rs-testimonial.main-home .owl-dots .owl-dot {
  width: 25px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
  padding: 3px 0;
  border-radius: 30px;
  background: #062b61;
  border: none;
  transition: all 0.3s ease;
}
.rs-testimonial.main-home .owl-dots .owl-dot:hover,
.rs-testimonial.main-home .owl-dots .owl-dot.active {
  width: 40px;
  background: #073982;
  opacity: 1;
}
.rs-testimonial.main-home .owl-stage-outer {
  padding: 10px;
  margin: -10px;
}
.rs-testimonial.home9-style .testi-item p {
  font-size: 25px;
  font-style: italic;
  color: #111111;
  padding: 15px 0px 15px 0px;
  margin-bottom: 30px;
}
.rs-testimonial.orange-color .owl-dots .owl-dot {
  border-color: #073982 !important;
  background: #073982 !important;
}
/* ------------------------------------
    18. Blog Section CSS
---------------------------------------*/
/* ------------------------------------
    19. Latest Events Section CSS
---------------------------------------*/
/* ------------------------------------
    19. Download Section CSS
---------------------------------------*/
/* ------------------------------------
    20. Partner Section CSS
---------------------------------------*/
/* ------------------------------------
    21. Gallery Section CSS
---------------------------------------*/
/* ------------------------------------
    22. CTA Section CSS
---------------------------------------*/
.rs-cta {
  position: relative;
}
.rs-cta.style1 {
  background: url(assets/images/bg/pattern1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.rs-cta.style1 .partition-bg-wrap {
  position: relative;
}
.rs-cta.style1 .partition-bg-wrap:after,
.rs-cta.style1 .partition-bg-wrap:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
.rs-cta.style1 .partition-bg-wrap:after {
  background: #21a7d0;
  left: 0;
}
.rs-cta.style1 .partition-bg-wrap:before {
  background: #273c66;
  right: 0;
}
.rs-cta.style2 .video-wrap .popup-videos {
  color: #ffffff;
  display: block;
  overflow: hidden;
  max-width: 270px;
}
.rs-cta.style2 .video-wrap .popup-videos i {
  width: 70px;
  height: 70px;
  line-height: 61px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  float: left;
  margin-right: 20px;
}
.rs-cta.style2 .video-wrap .popup-videos i:before {
  padding-left: 5px;
}
.rs-cta.style2 .video-wrap .popup-videos .title {
  color: #ffffff;
}
.rs-cta.style2 .video-wrap .popup-videos:hover {
  opacity: 0.7;
}
.rs-cta.style2 .partition-bg-wrap {
  position: relative;
}
.rs-cta.style2 .partition-bg-wrap:after,
.rs-cta.style2 .partition-bg-wrap:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.rs-cta.style2 .partition-bg-wrap:before {
  background: url(assets/images/cta/style2/left-bg.jpg);
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rs-cta.style2 .partition-bg-wrap:after {
  background: url(assets/images/cta/style2/right-bg.jpg);
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.rs-cta.style2 .partition-bg-wrap.inner-page:before {
  background: url(../../assets/images/otros/reunion.png);
  background-size: cover;
}
.rs-cta.style2 .partition-bg-wrap.inner-page:after {
  background: url(../../assets/images/otros/fondovideo.png);
  background-size: cover;
}
.rs-cta.main-home .partition-bg-wrap {
  background: none !important;
  position: relative;
  padding: 130px 0;
}
.rs-cta.main-home .partition-bg-wrap:after,
.rs-cta.main-home .partition-bg-wrap:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
.rs-cta.main-home .partition-bg-wrap:after {
  background: url(assets/images/cta/home1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rs-cta.main-home .partition-bg-wrap:before {
  background: url(assets/images/cta/main-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
}
.rs-cta.home9-style .partition-bg-wrap {
  background: none !important;
  position: relative;
  padding: 100px 0;
}
.rs-cta.home9-style .partition-bg-wrap:after,
.rs-cta.home9-style .partition-bg-wrap:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
.rs-cta.home9-style .partition-bg-wrap:after {
  background: url(assets/images/cta/covid-19.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rs-cta.home9-style .partition-bg-wrap:before {
  background: #1c335f;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
}
/* ------------------------------------
    23. Counter Section CSS
---------------------------------------*/
/* ------------------------------------
    24. Newsletter Section CSS
---------------------------------------*/
/* ------------------------------------
    25. Publication Section CSS
---------------------------------------*/
/* ------------------------------------
    26. Facilities Section CSS
---------------------------------------*/
/*----------------------------------------
    27. Faq Section CSS
----------------------------------------*/
.rs-faq-part .content-part .title .text-part {
  font-size: 20px;
  color: #111111;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.rs-faq-part .content-part .accordion {
  border-width: 12px;
}
.rs-faq-part .content-part .accordion .card {
  margin-bottom: 15px;
  border: none;
}
.rs-faq-part .content-part .accordion .card:last-child {
  margin-bottom: 0;
}
.rs-faq-part .content-part .accordion .card .card-header {
  padding: 0 !important;
  border: none;
}
.rs-faq-part .content-part .accordion .card .card-header .card-link {
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
  display: block;
  padding: 15px 15px;
  text-transform: capitalize;
  background: #21a7d0;
}
.rs-faq-part .content-part .accordion .card .card-header .card-link.collapsed {
  background: #f9f8ff;
  color: #505050;
}
.rs-faq-part .content-part .accordion .card .card-body {
  background: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #505050;
  padding: 15px 14px 15px !important;
  border: 1px solid #f9f8ff;
}
.rs-faq-part.style1 .main-part {
  background: #f9f8f8;
  padding: 60px 60px 70px;
}
.rs-faq-part.style1 .main-part .title .text-part {
  font-size: 36px;
  color: #111111;
  line-height: 46px;
  font-weight: 700;
}
.rs-faq-part.style1 .main-part .faq-content .accordion {
  border-width: 12px;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card {
  margin-bottom: 25px;
  border: none;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card:last-child {
  margin-bottom: 0;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header {
  display: flex;
  align-items: center;
  padding: 0 !important;
  border: none;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 60px;
  height: 65px;
  line-height: 65px;
  font-size: 16px;
  font-weight: 600;
  background: #21a7d0;
  box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f1f7";
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 400;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link.collapsed {
  background: #ffffff;
  color: #111111;
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link.collapsed:after {
  content: "\f0a2";
}
.rs-faq-part.style1 .main-part .faq-content .accordion .card .card-body {
  background: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #505050;
  padding: 15px 14px 15px !important;
  width: 100%;
}
.rs-faq-part.style1 .img-part {
  background: url(../../assets/images/otros/amigos.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 615px;
}
.rs-faq-part.orange-color .content-part .accordion .card .card-header .card-link,
.rs-faq-part.orange-color .main-part .faq-content .accordion .card .card-header .card-link {
  background: #073982;
}
.rs-faq-part.orange-color .content-part .accordion .card .card-header .card-link.collapsed,
.rs-faq-part.orange-color .main-part .faq-content .accordion .card .card-header .card-link.collapse {
  background: #f9f8ff;
}
/* ------------------------------------
    28. Error Section CSS
---------------------------------------*/
/*----------------------------------------
    29. Shop Section CSS
----------------------------------------*/
/*----------------------------------------
    30. Single Shop Section CSS
----------------------------------------*/
/*----------------------------------------
    31. Cart Section CSS
----------------------------------------*/
/*-----------------------------------------------
    32. Header Cart Section CSS
-----------------------------------------------*/
/*-----------------------------------------------
    28. Woocommerce Section CSS
-----------------------------------------------*/
/*----------------------------------------
    33. Checkout Section CSS
----------------------------------------*/
/*----------------------------------------
    34. Login Section CSS
----------------------------------------*/
/* -----------------------------------
    35. Register Section CSS
-------------------------------------*/
/* Styled Form */
/*-------------------------------------
    36. Contact Section CSS
--------------------------------------*/
/*------------------------------------
    37. Footer Section CSS
------------------------------------*/
.rs-footer {
  background-color: #073982 ;
}
.rs-footer .footer-top {
  padding: 218px 0 93px;
}
.rs-footer .footer-top .widget-title {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.rs-footer .footer-top .site-map li {
  padding-left: 15px;
  position: relative;
  margin-bottom: 11px;
}
.rs-footer .footer-top .site-map li a {
  color: #e8e8e8;
}
.rs-footer .footer-top .site-map li a:hover {
  color: #21a7d0;
}
.rs-footer .footer-top .site-map li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #21a7d0;
}
.rs-footer .footer-top .site-map li:last-child {
  margin-bottom: 0;
}
.rs-footer .footer-top .address-widget li {
  position: relative;
  margin-bottom: 16px;
}
.rs-footer .footer-top .address-widget li i {
  position: absolute;
}
.rs-footer .footer-top .address-widget li i:before {
  color: #ffffff;
}
.rs-footer .footer-top .address-widget li .desc {
  padding-left: 35px;
  color: #ffffff;
}
.rs-footer .footer-top .address-widget li .desc a {
  color: #ffffff;
}
.rs-footer .footer-top .address-widget li .desc a:hover {
  color: #21a7d0;
}
.rs-footer .footer-top .address-widget li:last-child {
  margin-bottom: 0;
}
.rs-footer .footer-bottom {
  padding: 40px 0;
  background: transparent;
  position: relative;
}
.rs-footer .footer-bottom .copyright p {
  margin-bottom: 0;
  color: #f3f8f9;
}
.rs-footer .footer-bottom .copyright a {
  color: #21a7d0;
}
.rs-footer .footer-bottom .footer-logo a {
  display: inline-block;
}
.rs-footer .footer-bottom .footer-logo a img {
  max-width: 190px;
}
.rs-footer .footer-bottom .footer-social li {
  display: inline;
  margin-right: 5px;
}
.rs-footer .footer-bottom .footer-social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #21a7d0;
  color: #ffffff;
  text-align: center;
}
.rs-footer .footer-bottom .footer-social li a:hover {
  color: #ffffff;
  background: #273c66;
}
.rs-footer .footer-bottom .footer-social li:last-child {
  margin: 0;
}
.rs-footer .footer-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  max-width: 1240px;
  background: rgba(255, 255, 255, 0.1);
}
.rs-footer.style8 .footer-top {
  padding: 100px 0 93px;
}
.rs-footer.style8 .footer-top .site-map li a {
  color: #e8e8e8;
}
.rs-footer.style8 .footer-top .site-map li a:hover {
  color: #073982;
}
.rs-footer.style8 .footer-top .site-map li:before {
  background: #073982 !important;
}
.rs-footer.style8 .footer-top .site-map li:last-child {
  margin-bottom: 0;
}
.rs-footer.style8 .footer-top .address-widget li i:before {
  color: #073982 !important;
}
.rs-footer.style8 .footer-top .address-widget li .desc a:hover {
  color: #073982 !important;
}
.rs-footer.style8 .footer-bottom .copyright p a {
  color: #073982 !important;
}
.rs-footer.style8 .footer-bottom .copyright p a:hover {
  color: #062b61 !important;
}
.rs-footer.style8 .footer-bottom .footer-social li a {
  background: #073982 !important;
}
.rs-footer.home9-style .footer-top {
  padding: 50px 0 50px;
}
.rs-footer.home9-style .footer-top .widget-title {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
  position: relative;
}
.rs-footer.home9-style .footer-top .widget-title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 40px;
  background: #ffffff;
}
.rs-footer.home9-style .footer-top .site-map li {
  padding-left: 15px;
  position: relative;
  margin-bottom: 11px;
}
.rs-footer.home9-style .footer-top .site-map li a {
  color: #e8e8e8;
}
.rs-footer.home9-style .footer-top .site-map li a:hover {
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .site-map li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #ffffff;
}
.rs-footer.home9-style .footer-top .site-map li:last-child {
  margin-bottom: 0;
}
.rs-footer.home9-style .footer-top .address-widget li {
  position: relative;
  margin-bottom: 16px;
}
.rs-footer.home9-style .footer-top .address-widget li i {
  position: absolute;
}
.rs-footer.home9-style .footer-top .address-widget li i:before {
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .address-widget li .desc {
  padding-left: 35px;
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .address-widget li .desc a {
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .address-widget li .desc a:hover {
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .address-widget li:last-child {
  margin-bottom: 0;
}
.rs-footer.home9-style .footer-top .recent-post {
  display: flex;
}
.rs-footer.home9-style .footer-top .recent-post .post-img {
  width: 130px;
  float: left;
  padding-right: 15px;
}
.rs-footer.home9-style .footer-top .recent-post .post-img img {
  border-radius: 4px;
}
.rs-footer.home9-style .footer-top .recent-post .post-item .post-desc a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 22px;
  text-transform: capitalize;
}
.rs-footer.home9-style .footer-top .recent-post .post-item .post-desc a:hover {
  color: #ffffff;
}
.rs-footer.home9-style .footer-top .recent-post .post-item .post-date {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
}
.rs-footer.home9-style .footer-top .recent-post .post-item .post-date i {
  font-size: 13px;
  color: #ffffff;
  padding-right: 5px;
}
.rs-footer.home9-style .footer-bottom {
  padding: 40px 0;
  background: transparent;
  position: relative;
}
.rs-footer.home9-style .footer-bottom .copyright p {
  margin-bottom: 0;
  color: #f3f8f9;
}
.rs-footer.home9-style .footer-bottom .copyright a {
  color: #ffffff;
}
.rs-footer.home9-style .footer-bottom .copyright a:hover {
  font-weight: bolder;
}
.rs-footer.home9-style .footer-bottom .footer-logo a {
  display: inline-block;
}
.rs-footer.home9-style .footer-bottom .footer-logo a img {
  max-width: 190px;
}
.rs-footer.home9-style .footer-bottom .footer-social li {
  display: inline;
  margin-right: 5px;
}
.rs-footer.home9-style .footer-bottom .footer-social li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #ffffff;
  color: #111111;
  text-align: center;
}
.rs-footer.home9-style .footer-bottom .footer-social li a:hover {
  color: #ffffff;
  background: #062b61 ;
}
.rs-footer.home9-style .footer-bottom .footer-social li:last-child {
  margin: 0;
}
.rs-footer.home9-style .footer-bottom:before {
  background: rgba(255, 255, 255, 0.1);
}
.rs-footer.home9-style.main-home {
  background: #151515;
}
.rs-footer.home9-style.main-home .footer-top .widget-title:before {
  background: #073982;
}
.rs-footer.home9-style.main-home .footer-top .footer-logo a {
  display: inline-block;
}
.rs-footer.home9-style.main-home .footer-top .footer-logo a img {
  max-width: 190px;
}
.rs-footer.home9-style.main-home .footer-top .textwidget p {
  color: #ffffff !important;
}
.rs-footer.home9-style.main-home .footer-top .site-map li a {
  color: #e8e8e8;
}
.rs-footer.home9-style.main-home .footer-top .site-map li a:hover {
  color: #073982;
}
.rs-footer.home9-style.main-home .footer-top .site-map li:before {
  background: #073982;
}
.rs-footer.home9-style.main-home .footer-top .address-widget li i:before {
  color: #073982;
}
.rs-footer.home9-style.main-home .footer-top .address-widget li .desc a:hover {
  color: #073982;
}
.rs-footer.home9-style.main-home .footer-top .recent-post .post-img img {
  border-radius: 4px;
}
.rs-footer.home9-style.main-home .footer-top .recent-post .post-item .post-desc a:hover {
  color: #073982;
}
.rs-footer.home9-style.main-home .footer-top .recent-post .post-item .post-date i {
  font-size: 13px;
  color: #073982;
  padding-right: 5px;
}
.rs-footer.home9-style.main-home .footer-bottom {
  padding: 40px 0;
  background: transparent;
  position: relative;
}
.rs-footer.home9-style.main-home .footer-bottom .copyright p {
  margin-bottom: 0;
  color: #f3f8f9;
}
.rs-footer.home9-style.main-home .footer-bottom .copyright a {
  color: #ffffff;
}
.rs-footer.home9-style.main-home .footer-bottom .copyright a:hover {
  color: #073982;
}
.rs-footer.home9-style.main-home .footer-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  max-width: 1240px;
  background: rgba(255, 255, 255, 0.1);
}
/* -----------------------
    38. Scroll Up CSS
--------------------------*/
#scrollUp {
  text-align: center;
  bottom: 40px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  border-radius: 50px 50px 4px 4px;
}
#scrollUp i {
  background: #21a7d0;
  border-radius: 50%;
  height: 40px;
  font-size: 24px;
  font-weight: 600;
  width: 42px;
  color: #fff;
  line-height: 36px;
  transition: all 0.3s ease;
  margin-left: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
#scrollUp i:hover {
  background-color: #1a84a4;
}
#scrollUp.orange-color i {
  background: #073982;
}
#scrollUp.orange-color i:hover {
  background-color: #062b61;
}
/*Pulse Border Animation*/
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/*Pulse Border Animation*/
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
@keyframes circle-ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 84, 33, 0.3), 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(255, 84, 33, 0.3), 0 0 0 3em rgba(255, 84, 33, 0.3), 0 0 0 5em rgba(255, 84, 33, 0.3), 0 0 0 8em rgba(255, 84, 33, 0);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(30px);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@keyframes left-right {
  0% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }
  50% {
    transform: translateY(-50px);
    -webkit-transform: translatex(-50px);
  }
  100% {
    transform: translatex(0);
    -webkit-transform: translatex(0);
  }
}
@keyframes spine {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spine-r {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spine2 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spine2 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotated-style {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes veritcal-two {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

/* Preloader CSS */

.loader{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 9999999;
}

.loader .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border: 5px solid #c8c8c8   ;
    border-radius: 50%;
}

.loader .loader-container:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 140px;
    border-top: 6px solid #c8c8c8  ;
    border-radius: 50%;
    
    animation: loaderspin 1.8s infinite ease-in-out;
    -webkit-animation: loaderspin 1.8s infinite ease-in-out;
    -moz-animation: loaderspin 1.8s infinite ease-in-out;
    -o-animation: loaderspin 1.8s infinite ease-in-out;
}

.loader.blue-color .loader-container:before {
    border-color: #073982  ;
}

.loader .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
}

.loader .loader-icon img{
    animation: loaderpulse alternate 900ms infinite;
}

@keyframes loaderspin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes loaderspin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-moz-keyframes loaderspin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-o-keyframes loaderspin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loaderpulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* ScrollBar  */

::-webkit-scrollbar {
  /* height: 13px; */
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0, .2) inset;
}
::-webkit-scrollbar-thumb {
  background: #073982;
  border-radius: 8px;
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #062b61;
}

/* Frase */
.frase{
  font-style: italic;
  font-weight: 700;
  color: #073982;
  margin-bottom: 4rem;
  margin-top: 2rem;
}